[submodule "vendor/bats"]
	path = vendor/bats
	url = https://github.com/sstephenson/bats
[submodule "vendor/bats-support"]
	path = vendor/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = https://github.com/ztombol/bats-assert
